.img-aboutus {
    margin-top: 3rem;
}
.h1-team{
    margin-top: 3rem;
}
@media screen and (min-width: 1072px) {
    .img-aboutus {
        margin-left: 10rem;
        margin-top: 3rem;
    }
    .h1-about{
        margin-left: 15rem;
    }
    .h1-team{
        margin-top: 3rem;
        margin-left: 9rem;
    }
}
@media (max-width:600px) {
    #resp-footer-box {
        margin-left: 3rem !important;
        height: 700px !important;
    }

    .resp-footer-image {
        padding-right: 40px;
        width: 100%;
    }
}

@media (min-width:600px) and (max-width:991px) {
    #resp-footer-box {
        height: 36.25rem !important;
        margin-left: 5rem !important;
    }
}

@media (min-width:300px) and (max-width:450px) {
    #resp-footer-box {
        margin-left: 3rem !important;
    }
}

@media (min-width:992px) and (max-width:1070px) {
    #resp-footer-box{
        width: 88% !important;
    }
    .h1-about, .img-aboutus, .h1-team{
        margin-left: 4rem;
    }
}
@media  (max-width: 700px) {
    .img-aboutus{
        width: 20rem !important;
        margin-left: 1rem;
    }
}