.asked-questions {
    margin-top: 20rem;
    text-align: center;
}

.h1-bottom {
    margin: auto;
    width: 30%;
}

.select-questions{
    border: none;
    background-color: #ededed;
    width: 28%;
}

.hr-bottom{
    margin-left: 36% !important; 
    width: 28%;
}
.h1-footer {
    font-weight: bold;
    width: 70%;
}

.p-footer {
    font-family: sans-serif;
}

.footer-button {
    color: white;
    background-color: rgb(81, 81, 236);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 40px;
}

@media (max-width:600px) {
    #resp-footer-box {
        margin-left: 3rem !important;
        height: 700px !important;
    }

    .resp-footer-image {
        padding-right: 40px;
        width: 100%;
    }
}

@media (min-width:600px) and (max-width:991px) {
    #resp-footer-box {
        height: 36.25rem !important;
        margin-left: 5rem !important;
    }
}

@media (min-width:300px) and (max-width:450px) {
    #resp-footer-box {
        margin-left: 3rem !important;
    }
}

@media (min-width:992px) and (max-width:1070px) {
    #resp-footer-box{
        width: 88% !important;
    }
}
